<div class="row">
    <div class="col-md-6 offset-3 alert-success text-center">
        <h2>Order comleted successfully</h2>
        <p>you can check all your orders in then orders section of your profile</p>
        <hr />
        <p>Thank You!</p>
    </div>
</div>